{% load crispy_forms_tags %}

<tr id="size-{% if size %}{{ size.id }}{% else %}new{% endif %}">
    <td colspan="4">
        <form class="form"
              hx-post="{% if size %}{% url 'size-edit' size.id %}{% else %}{% url 'size-create' %}{% endif %}"
              hx-target="#size-{% if size %}{{ size.id }}{% else %}new{% endif %}"
              hx-swap="outerHTML">
            {{ form|crispy }}
            <div class="mt-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-ghost btn-sm"
                        hx-get="{% url 'size-list' %}"
                        hx-target="#sizes-container"
                        hx-swap="innerHTML">
                    Cancel
                </button>
            </div>
        </form>
    </td>
</tr>
