{% extends "base.html" %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
<h2 class="text-3xl inline-flex gap-2">
    <span class="font-extralight">
        {% include "partials/back_button.html" %}
        Photo #{{ object.id }}:
    </span>
    {{ object }}
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="box">
        <div class="overflow-x-scroll">
            <table class="table table-zebra table-auto">
                <colgroup>
                    <col class="w-min whitespace-nowrap" />
                    <col class="w-full" />
                </colgroup>
                <tr>
                    <th>Title</th>
                    <td>{{ object.title }}</td>
                </tr>
                <tr>
                    <th>Public ID</th>
                    <td>{{ object.public_id }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="whitespace-pre-wrap">{{ object.description|default:"(none)" }}</td>
                </tr>
                <tr>
                    <th>Publish Date</th>
                    <td>{{ object.publish_date|date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        {% if object.raw_image %}
                        <img src="{% url 'photo-image' object.pk UI_THUMBNAIL_SIZE %}" alt="{{ object.title }}"
                            class="max-w-full shadow" />
                        {% else %}
                        (No image)
                        {% endif %}
                    </td>
                </tr>
                {% if object.albums %}
                <tr>
                    <th>
                        Albums
                    </th>

                    <td>
                        <ul>
                            {% for album in object.albums.all %}
                            <li>
                                <a href="{{ album.get_absolute_url }}" class="link link-hover">
                                    {{ album }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div>        
        <div class="box overflow-x-scroll">
            <h3 class="text-2xl">Sizes</h3>

            <table class="table table-zebra table-auto">
                <colgroup>
                    <col class="w-min whitespace-nowrap" />
                    <col class="w-full" />
                </colgroup>
                {% for size in object.sizes.all %}
                <tr>
                    <th>{{ size.slug }}</th>
                    <td>
                        <a href="{% url 'photo-image' object.pk size.size.slug %}" download>
                            {{ size.size }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <p class="pt-4">
                Note: These links are not public! You must use the public API.
            </p>
    </div>
</div>

<div>
    {% include "partials/model_view_modify_buttons.html" %}
</div>

{% endblock %}