{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load daisyui_filters %}

{% block title %}
Plugin Scan Initiation
{% endblock %}

{% block content %}

    <div class="grid grid-cols-1 gap-4">
        <div class="text-center">
            <h2>Plugin Scan</h2>
        </div>
        <p class="text-center">
            A plugin scan has been initiated. This may take a few minutes.
        </p>

        <div class="flex flex-col sm:flex-row gap-4 justify-center">
            <a href="{% url 'integration-list' %}" class="btn btn-primary">
                Back
            </a>
        </div>
    </div>

{% endblock %}
