{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}Photoserv{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/bundle.js' %}" defer></script>
</head>

<body>
    <header>
        <div class="navbar p-4 bg-base-200 shadow-sm">
            <div class="navbar-start">
                <a href="/photos">
                    <h1 class="text-xl">Photoserv</h1>
                </a>
            </div>
            <div class="navbar-end">
                <a href="{% url 'photo-list' %}" class="btn btn-ghost">
                    Photos
                </a>
                <a href="{% url 'album-list' %}" class="btn btn-ghost">
                    Albums
                </a>
                <a href="{% url 'tag-list' %}" class="btn btn-ghost">
                    Tags
                </a>

                <div class="dropdown dropdown-end" x-data="{ openNavMenu: false }">
                    <button class="btn btn-ghost" @click="openNavMenu = !openNavMenu" :aria-expanded="openNavMenu.toString()"
                        aria-controls="dropdown-menu">
                        Settings
                        <svg class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>

                    <ul id="dropdown-menu"
                        class="list-none dropdown-content menu min-w-30 bg-base-100 shadow-sm" x-show="openNavMenu"
                        x-transition @click.outside="openNavMenu = false">
                        
                        <li>
                            <a href="{% url 'size-list' %}">Sizes</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <main class="p-4 max-w-6xl mx-auto">
        <div class="grid grid-cols-1 gap-y-4">{% block content %} {% endblock %}</div>
    </main>
</body>

</html>