{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}Photoserv{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    {% htmx_script %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <header>
        <div class="navbar p-4 bg-base-200 shadow-sm">
            <div class="navbar-start">
                <a href="/photos">
                    <h1 class="text-xl">Photoserv</h1>
                </a>
            </div>
            <div class="navbar-end">
                <a href="/photos" class="btn btn-ghost">
                    Photos
                </a>
                <a href="/sizes" class="btn btn-ghost">
                    Sizes
                </a>
            </div>
        </div>
    </header>
    <main class="p-4 max-w-6xl mx-auto">
        <div class="grid grid-cols-1 gap-y-4">{% block content %} {% endblock %}</div>
    </main>
</body>

</html>