{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load daisyui_filters %}

{% block title %}
Login to Photoserv</title>
{% endblock %}

{% block content %}

<div class="max-w-md mx-auto">
    {% if form.non_field_errors %}
    <div class="alert alert-error mb-4" id="form-errors">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if SIMPLE_AUTH_ENABLED %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field|as_crispy_field }}
        {% endfor %}

        <div class="flex justify-center pt-2">
            <button type="submit" class="btn btn-primary btn-wide">
                Login
            </button>
        </div>
    </form>
    {% endif %}

    {% if OIDC_AUTH_ENABLED %}
    {% if SIMPLE_AUTH_ENABLED %}
    <div class="text-center my-4">or</div>
    {% endif %}

    <div class="w-full flex items-center justify-center">
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn-primary">
            {{ OIDC_PROVIDER_NAME }}
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block navbar_end %}{% endblock %}